* {
    margin: 0;
    padding: 0;
}

canvas {
    margin-top:  50px;
    background-color: coral;
    margin-right: auto;
    margin-left: auto;
    display: block;
}

#title {
    margin-top: 40px;
    font-size: 55px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color:rgb(25, 64, 114);
}

#main-container {
    font-size: 50px;
    text-align: center;
}

.commands {
    transition: 0.20s;
    margin-top: 25px;
    background-color: white;
    border: none;
    font-size: 50px;
    color:rgb(36, 87, 196);
}

#playback {
    margin-right: 35px;
}

.commands:focus {
    outline: none;
}

.commands:hover {
    transition: 0.20s;
    font-size: 57.5px;
}

#controls {
    height: 85px;
}