@mixin flexbox() {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
  }
  
@mixin flex($values) {
    -webkit-box-flex: $values;
    -moz-box-flex:  $values;
    -webkit-flex:  $values;
    -ms-flex:  $values;
    flex:  $values;
  }
  
@mixin order($val) {
    -webkit-box-ordinal-group: $val;  
    -moz-box-ordinal-group: $val;     
    -ms-flex-order: $val;     
    -webkit-order: $val;  
    order: $val;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

* {
    margin: 0;
    padding: 0;
}

canvas {
    background-color: coral;
    display: block;
}

.no-border {
    border: none;
}

#customization {
    width: 350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

#title {
    margin-top: 40px;
    font-size: 55px;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color:rgb(25, 64, 114);
}

#main-container {
    margin-top: 25px;
}

#canvas-cs-container {
    
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;  
}

.commands, .apply {
    transition: 0.20s;
    background-color: white;
    border: none;
    font-size: 50px;
    color:rgb(36, 87, 196);
}

.apply {
    text-align: center;
    font-size: 35px;
    color:rgb(19, 126, 54);
    margin: auto;
}

.commands:hover {
    transition: 0.20s;
    font-size: 57.5px;
}

.apply:hover { 
    transition: 0.20s;
    font-size: 40px;
}

#controls {
    text-align: center;
    display: block;
    flex:unset;
    height: 65px;
    margin-bottom: 15px;
}

#playback {
    margin-right: 50px;
}

#canvas-main{
    margin-right: 50px;
}

.option-name {
    font-size: 23px;
    font-family: 'Open Sans', sans-serif;
}

.option {
    border: none;
    margin-top: 10px;
    font-size: 15.5px;
    font-family: 'Open Sans', sans-serif;
    outline: none;
}

.no-outline:focus {
    outline: none;
}

.br {
    width: 100%;;
}

.custom-input-number:focus, .custom-input-number:focus-visible {
    outline: none;
}

.custom-input-number {
    padding-top: 15px;
    width: 50px;
    text-align: center;
    border-bottom: 1px solid #000;
    transition: 500ms;
}

.custom-input-number:focus {
    border-bottom: 2.5px solid #000;
    transition: 350ms;
}

.flex { 
    display: flex;
}

.whr {
    padding-top: 16px;
}